<div class="bg-light text-center py-5">
  <h1 class="text-info">Movie List</h1>
  <p class="text-dark">Movie list website allows users to browse, add and delete movies</p>
  <div class="d-flex justify-content-center mt-5">
    <%= link_to "Browse Movies", films_path, class: "btn btn-info btn-lg rounded-pill me-3" %>
    <%= link_to "Add New Movie", new_film_path, class: "btn btn-info btn-lg rounded-pill me-3" %>
  </div>
</div>
